
.results-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .results-content {
    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 24px;
    margin: 10px 0;
  }